#bg-image{
    width:1285px;
    height:900px;
    position:relative;
}

#txt{
    margin-top:-650px;
    margin-left: 600px;
    position:absolute;
    color:white;
    font-weight:bolder;
    font-size:100px;
}